<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Collaborative Writing Tool</title>
  <meta charset="utf-8">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/286b29f754.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/bootstrap-social.css">
  <link rel="stylesheet" href="/css/styles.css">

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">SDS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link active" href="/myblog">HOME</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/about">ABOUT</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="contact">CONTACT</a>
  </li>
  <!-- <li class="nav-item">
    <a class="nav-link" href="/myBlog">MY BLOGS</a>
  </li> -->
   <li><a class="btn btn-outline-primary" href="/logout">logout</a></li> 
  </ul>

</div>
</nav>

  <body>
    <div class="container">



<h1>Compose</h1>
<form class="" action="/edit" method="post">
  <div class="form-group">
      <label for="forTitle">Title</label>
      <input type="text" class="form-control" name="title" id="forTitle" value="<%= previousTitle %>">
    </div>
    
    <!-- <div class="form-group">
    <label for="forPost">Post</label>
    <textarea class="form-control" id="forPost" name="post" rows="15" cols="30"><%= previouscontent %></textarea>
  </div> -->
  <div>
    <textarea rows="30" cols="50" id="editor forPost" name="post" style="background-color:dimgrey;color:white" placeholder="Type Your Text..."><%= previouscontent %></textarea>
</div>
  <button type="submit" class="btn btn-primary" name="button">Publish</button>
  <input type="hidden" name="id" value="<%= postId %>">
</form>



</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>&copy; Copyright 2020 SDS Task</p>
  </div>

  <script src="../node_modules/socket.io-client/dist/socket.io.js"></script>
  <script src="/js/client.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>

</html>

