<%- include('partials/header') %>
<div class="container mt-5">
	<h1>Register</h1>

	<div class="row">
		<div class="col-sm-8">
			<div class="card">
				<div class="card-body">
					<!-- Makes POST request to /register route -->
					<form action="/register" method="POST" id="form">
						<div class="form-group">
							<label for="firstname">First Name</label>
							<input
								type="text"
								class="form-control"
								id="firstname"
								name="firstname"
								required
								autofocus
							/>
						</div>
						<div class="form-group">
							<label for="middlename">Middle name</label>
							<input
								type="text"
								class="form-control"
								id="middlename"
								name="middlename"
								required
							/>
						</div>
						<div class="form-group">
							<label for="lastname">Last name</label>
							<input
								type="text"
								class="form-control"
								id="lastname"
								name="lastname"
								required
							/>
						</div>
						<div class="form-group">
							<label for="email">Email</label>
							<input
								type="email"
								class="form-control"
								name="username"
								required
							/>
						</div>
						<div class="form-group">
							<label for="password">Password</label>
							<input
								type="password"
								class="form-control"
								name="password"
								required
							/>
						</div>
						<div class="form-group">
							<label for="confirm">Confirm Password</label>
							<input
								type="password"
								class="form-control"
								name="confirm"
								required
							/>
						</div>
						<button type="submit" class="btn btn-dark">
							Register
						</button>
					</form>
				</div>
			</div>
		</div>

		<!-- <div class="col-sm-4">
      <div class="card social-block">

          <a class="btn btn-block btn-social btn-google" href="/auth/google" role="button">
            <i class="fab fa-google"></i>
            Sign Up with Google
          </a>

      </div>
    </div> -->
	</div>
</div>
<%- include('partials/footer'); -%>
