<%- include('partials/header') %>

<div class="jumbotron">
  <h1 class="display-4">Colabrative Writing Tool</h1>
  <hr class="my-4">
  <p>Share your documents with your friends spread your knowledge</p>
  <a class="btn btn-primary btn-lg" href="/login" role="button">login</a>
    <a class="btn btn-primary btn-lg" href="/register" role="button">Register</a>
</div>
<%- include('partials/footer'); -%>
